
	body {
    background-image: url(https://media.tenor.co/images/9b907c7333ed7fdbdadf2074c467af3b/tenor.gif);
}

body {
		
background-size: 100% 100%;
}

*{
	font-size:32px
}

   * {
  font-family: 'Georgia', 'Times', serif;
}

a {
  color: SeaGreen;
  text-decoration: none;
}

img {
  border-radius: 100%;
}


	
